.privacy {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
	line-height: 1.6;
	color: #333;

	h1,
	h2 {
		margin-top: 1em;
	}

	ul {
		padding-left: 20px;
	}

	p,
	ul {
		margin-top: 0;
	}

	@media (max-width: 768px) {
		body {
			padding: 10px;
		}
	}
}
